<h1>Discographie de Orelsan</h1>

<div class="btn-group my-4">
    <button type="button" class="btn btn-outline-primary" (click)="filterType()">All</button>
    <button type="button" class="btn btn-outline-primary" (click)="filterType('album')">Album</button>
    <button type="button" class="btn btn-outline-primary" (click)="filterType('single')">Single</button>
</div>

<div class="row">
    <div *ngFor="let album of filteredType" class="col-4 my-4">
        <div class="card" style="width: 18rem;" (click)="goToDetailAlbum(album)">
            <img [src]="album.images[0].url" class="card-img-top" alt="Album: {{ album.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ album.name }}</h5>
                <div class="card-text">
                    <!-- <p>{{ album.release_date |  date:"dd/MM/YYYY" }}</p> -->
                    <!-- <p>{{ album.total_tracks }} tracks</p> -->
                    <!-- <p>{{ album.album_type }}</p> -->
                </div>
                <!-- <a (click)="goToDetailAlbum(album)" class="btn btn-primary">Détail</a> -->
            </div>
        </div>
    </div>
</div>